extends _layouts/base

include ./_modules/button/button


block config 
  - var page = 'homepage'


block content
  section.section.section--1
  section.section.section--2
  section.section.section--3
  section.section.section--4
  section.section.section--5